{% load staticfiles %}
<html>
    <head>
        <title>Blog</title>  <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
<body>
    <div class="page-header">
  {% if user.is_superuser %}
      <a href="{% url 'logout' %}" class="top-menu"><small><span class="glyphicon glyphicon-log-out"></span><small></a>
      <a href="{% url 'post_new' %}" class="top-menu"><small><span class="glyphicon glyphicon-plus"></span></small></a>
      <a href="{% url 'post_draft_list' %}" class="top-menu"><small><span class="glyphicon glyphicon-edit"></span></small></a>
  {% else %}
      <a href="{% url 'login' %}" class="top-menu"><small><span class="glyphicon glyphicon-log-in"></span></small></a>
  {% endif %}
  <h1><a href="/"> Just Another Blog</a></h1>
  <h5><a href="/"> Made for the 2ID50 course at the TU/e </a></h5>
  </div>
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h3> Blog</h3>
        <h5><ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
        </ul></h5>
      </div>
      <div class="col-sm-9">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
  </div>
</div>
</body>

</html>
