{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
    <h1>{{ post.title }}</h1>
    {% if user.is_superuser %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
      <div class="date">
        {% if post.published_date %}
          <h5>  {{ post.published_date }} </h5>
        {% else %}
          <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
      </div>
        <h3>{{ post.text|linebreaksbr }}</h3>
    </div>
    <hr>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    {% for comment in post.comments.all %}
        {% if user.is_superuser or comment.approved_comment %}
         <div class="comment">
         <strong><h3>{{ comment.author }}</h3></strong>
           {% if user.is_superuser and comment.approved_comment %}
         <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
         {% endif %}
           {% if not comment.approved_comment %}
               <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
               <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
           {% endif %}
            <div class="date">
              <h5>  {{ comment.created_date }} </h5>
            </div>
            <h4>{{ comment.text|linebreaks }}</h4>
        </div>
        {% endif %}
    {% empty %}
        <h4>No comments here yet :(</h4>
    {% endfor %}
{% endblock %}
