{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <div class="date">
              <h4>  {{ post.published_date }} </h4>
            </div>
            <h3>{{ post.text|safe|truncatewords:"50"|linebreaksbr }}</h3>
             <h4><a href="{% url 'post_detail' pk=post.pk %}">read more</a></h4>
          <h4>  <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a> </h4>
          </div>
    {% endfor %}
{% endblock content %}
